{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <h2 id="aboutus" style:"text-align=center">Welcome to Social Stories: COVID-19 Edition!</h2>
    <h4 id="aboutus">
        We are two Yale students who created this website in order to help children adjust to the new social expectations and routines which the coronavirus has created this year.
        We understand that many children, especially those in the autism community, face extraordinary challenges during this crisis, and we hope that these stories
        can be a resource for anyone struggling to adjust to these new circumstances.<br><br>

        The Social Stories concept was developed by child pediatrician Dr. Carol Gray in the early 1990s.
        A social story is a narrative made to illustrate certain situations and problems and how people deal with them.
        They help children with autism understand social norms and learn how to communicate with others appropriately.<br><br>

        We based the interactive social stories in this website off of social stories developed by Autism Little Learners and Tara Tuchel.
        Please refer to her website for more social stories and more resources for the autism community:
        <a href="https://www.autismlittlelearners.com">www.autismlittlelearners.com</a><br><br>

        Please use our <a href="/contactus">Contact Us</a> page to get in touch with us! We'd love to hear from you.<br><br><br>

        - Catherine and Deirdre <br><br>

        P.S. Be sure to register with an account if you want to turn on sound effects, personalize the colors on the website, or have your own avatar! :)
    </h4>

    <br>
    <br>

    <h5 id="aboutus">
        Catherine Yang is a sophomore from Connecticut studying computer science at Yale.
        Deirdre Flanagan is a sophomore from Illinois studying neuroscience and neurodevelopmental disabilities at Yale.
    </h5>


{% endblock %}