{% extends "layout.html" %}

{% block title %}
    Social Distancing
{% endblock %}

{% block main %}
    <h2>The reason we need to have social distancing is because of a virus called Coronavirus. This virus can make people sick. Social distancing can help so we don’t get sick.</h2>
    <img src = "/static/SD12.jpeg" class="image">

    <ul class="pager">
        <a href="distance11" class="previous">&laquo; Previous</a>
        <a href="distance13" class="next">Next &raquo;</a>
    </ul>

{% endblock %}