{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="/resetpassword" method="post">
        <select name="securityq" id="securityq">
            <option value="{{ securityq }}"> {{ securityq }}</option>
        <input autocomplete="off" autofocus name="response" placeholder="Answer" type="text">
        <select name="username" id="username">
            <option value="{{ username }}"> {{ username }}</option>
        </select>
        <input autocomplete="off" autofocus name="password" placeholder="New Password" type="text">
        <input autocomplete="off" autofocus name="confirmation" placeholder="Retype New Password" type="text">
        <button class="btn btn-info" type="submit"> Reset password</button>
    </form>
{% endblock %}