{% extends "layout.html" %}

{% block title %}
    Washing Hands
{% endblock %}

{% block main %}
    <h3>Germs can make my body feel bad. I have germs when my nose is runny, when my tummy hurts, and when I am coughing and sneezing. I don’t want to share these germs with my friends!</h3>
    <img src = "/static/hands3.jpeg" class="image">

    <ul class="pager">
        <a href="wash2" class="previous">&laquo; Previous</a>
        <a href="wash4" class="next">Next &raquo;</a>
    </ul>

{% endblock %}